$primary: blue;
$accent: #d08642;
$bg: #ffffff;
$bg-accent: #e7e8e9;
$disabled: #9c9c9c;
html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
